doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title= Task9
        link(type="stylesheet",href="../css/task9.css")
    body
        header
        div.brand
            img(src="images/brand.png")
        div.form-area
            form
                div.form-group
                    button
                    input.form-control
                a.login(href="#")
                    span.icon-person
                    | 登录
        aside
            .avatar
                span.name
            |
            ul.profile
                li
                    a(href='#') 222
                    br
                    | read
                li
                    a(href='#') 222
                    br
                    | read
