doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title= Task9
        link(type="stylesheet",href="../css/task9.css")
    body
        header
        div.brand
            img(src="images/brand.png")
        div.form-area
            form
                div.form-group
                    button
                    input.form-control
                a.login(href="#")
                    span.icon-person
                    | 登录
        aside
            .avatar
                span.name
            ul.profile
                li: a(href="#") 222
                    br/
                    | 已阅
                li: a(href="#") 222
                    br/
                    | 关注
            ul.user-menu
                each val,index in ["个人报表","个人收藏","我的分享","图库","成长记录","账户信息"]
                    if index == 0
                        li
                            a.dropdown-btn
                                span(class='icon')
                                = val
                            ul.second-menu
                            - for(var j=0;j<3;j++)
                            li
                                a.directory: span.arrow
                                ul.third-menu
                                    li: a.files 文件
                                    li: a.files 文件
                    else
                        li: a
                            span(class='icon')
                                = val






